#pane{
    -fx-background-image: url("images/game-background.png");
    -fx-background-repeat: none;
    -fx-background-size: 800 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}