@font-face {
    font-family: 'Permanent Marker';
    src: url("'../fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}
/*#gamePane{
    -fx-background-image: url("../images/ai-pub-background.png");
}*/
.list-cell {
    -fx-background-color: transparent;
}
.list-cell #playerbox {
    /* 4: (Styling when out of focus)*/
    -fx-fill:  rgba(210,130,130,0.0);
    -fx-stroke: white;
}
.list-cell .label {
    /* 4: (Styling when out of focus)*/
    -fx-text-fill: white;
}
.list-cell:filled:selected #playerbox {
    -fx-fill:  rgba(210,130,130,1.0);
    -fx-stroke: black;
}
.list-cell:filled:selected .label {
    -fx-text-fill: black;
}
.list-view {
    -fx-background-color: transparent;
}
.table-view {
    -fx-background-color: transparent;
 }

.table-cell {
    -fx-text-fill: white;
    /*-fx-background-color: transparent;*/
    /*-fx-border-color: white;*/
    /*-fx-table-cell-border-color: white;*/
}

 .table-view:focused{
     -fx-background-color: transparent;
 }
 .table-view .column-header-background
 {
     -fx-background-color: transparent;
 }
 .table-view .column-header-background .label {
     /*-fx-background-color: transparent;*/
     -fx-text-fill: white;
     -fx-border-color: white;
     -fx-opacity: 60%;
     -fx-alignment: center;
     -fx-background-color: black;
     -fx-font-size:25px;
     -fx-cell-size: 25px;
 }

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 25px;
    -fx-cell-size: 25px;
    -fx-background-insets: 0;
    -fx-padding: 0.0em;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .table-cell:filled{
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-alignment: center;
    /*-fx-font-weight:bold;*/
    -fx-font-size: 25px;
    -fx-cell-size: 25px;

    -fx-background-insets: 0;
    -fx-padding: 0.0em;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.0em;
}


.table-row-cell{
    /*-fx-background-color: transparent;*/
    -fx-opacity: 60%;
    -fx-table-cell-border-color: transparent;

    -fx-background-color: black;
}
